@font-face {
	font-family: 'Fontspring-DEMO-rocgrotesk-black';
	src: local('Fontspring-DEMO-rocgrotesk-black'),
		local('Fontspring-DEMO-rocgrotesk-black'),
		url('~assets/fonts/Fontspring-DEMO-rocgrotesk-black.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
