$body: #222222;
$body2: #f0f0f0;
$text: #2d2d2d;
$orange: #b49635;
$green: #14422c;
$red: #dc4945;
$error: #f84747;
$tag_bg: #222222;
$blue: #5197db;
$grey: rgba(26, 26, 26, 0.2);

//cloud ladz
$white: #ffffff;
$white2: #d7d7d7;
$black: #1e1e1e;
$black2: #3b3b3b;
$yellow: #cee35b;
$violet: #5f41d4;

$Grotesk: 'Fontspring-DEMO-rocgrotesk-black', sans-serif;

//font-weight
$normal: 200;
$medium: 400;

$speed: 0.3s;
