//general
.Button {
	font-size: 100%;
	line-height: 100%;
	width: auto;
	height: em(58px);
	border-radius: em(34px);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: em(16px) em(32px);
	@extend %button;
	background: #bed252;

	&:hover {
		background: #cee35b;
		.Title {
			color: #775be8;
		}
	}

	&:active {
		background: #b7ca4e;
		.Title {
			color: #4c33b0;
		}
	}

	@include iftablet {
		height: em(44px);
		padding: em(16px) em(20px);
	}
	@include ifmobile {
		height: em(44px);
		padding: em(11px) em(20px);
	}

	.Title {
		font-size: em(18px);
		font-weight: 800;
		letter-spacing: 0.99px;
		color: #5f41d4;
		font-family: $Grotesk;

		@include iftablet {
			font-size: em(16px);
		}
		@include ifmobile {
			font-size: em(16px);
		}
	}
}

//disabled style
.Button:disabled,
.Button:disabled:hover,
.Button:disabled:active {
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.4;
}
