.Logo {
	width: em(179px);
	height: em(56px);
	cursor: pointer;
	a {
		display: flex;
		height: 100%;
	}
	svg {
		width: inherit;
		height: 100%;
	}
	&_Light {
		svg path {
			fill: $black;
		}
	}
	@include iftablet {
		width: em(147px);
		height: em(46px);
	}
	@include ifmobile {
		width: em(147px);
		height: em(46px);
	}
}
