.BaseInput {
	font-size: inherit;
	position: relative;
	display: flex;
	flex-direction: column;
}

.Input {
	$size: 16px;
	font-size: em($size);
	height: em(50px, $size);
	padding: em(10px, $size) em(12px, $size);
	line-height: 140%;
	font-weight: 400;
	color: $white;
	font-family: 'DM Sans', sans-serif;
	width: 100%;
	background: none;
	outline: none;
	border: none;
	border-radius: 0;
	position: relative;
	box-shadow: none;
	background: transparent;
	border-bottom: 1px solid #d1d1d1;
	transition: 0.5s ease all;
	-moz-transition: 0.5s ease all;
	-webkit-transition: 0.5s ease all;
	box-sizing: border-box;

	&::placeholder {
		font-weight: 400 !important;
		color: #dedede;
	}

	&:hover {
		border-color: $white;
	}

	&:focus {
		border-color: $white;
		@include placeholder-color($white);
	}
}

//disabled style
.Input:disabled,
.Input:disabled:hover,
.Input:disabled:focus {
	cursor: not-allowed;
	pointer-events: none;
	background: #f4f4f5;
	border: 1px solid #e5e7eb !important;
	color: rgba(26, 26, 26, 0.5);
}

.Error {
	border-bottom: 1px solid $red !important;
}

.ErrorText {
	pointer-events: none;
	margin-top: em(5px);
	span {
		display: flex;
		font-size: em(12px);
		font-family: 'DM Sans', sans-serif;
		line-height: 100%;
		color: $red;
		font-weight: 300;
	}
}

.Label {
	pointer-events: none;
	font-size: em(16px);
	font-family: $Grotesk;
	line-height: 100%;
	color: $white;
	margin-bottom: em(10px);
}
.BaseInputError .Label {
	color: $red;
}
