.Services {
	&_Title {
		margin-bottom: em(10px);
		@include iflaptop {
			margin-bottom: em(7px);
		}
		@include iftablet {
			margin-bottom: em(25px);
		}
		@include ifmobile {
			margin-bottom: em(0px);
		}
		h2 {
			color: $white;
			font-family: $Grotesk;
			font-size: em(46px);
			line-height: 112%;
			@include iflaptop {
				font-size: em(42px);
			}
			@include iftablet {
				font-size: em(36px);
			}
			@include ifmobile {
				font-size: em(24px);
			}
		}
	}

	&_Pictures {
		position: relative;
		width: 100%;
		height: em(710px);
		@media only screen and (min-width: 769px) and (max-width: 1699px) {
			width: em(924px);
			height: em(946px);
			margin: 0 auto;
		}
		@include iftablet {
			height: em(830px);
		}
		@include ifmobile {
			height: em(1016px);
		}

		.Image1 {
			display: none;
			img {
				position: absolute;
			}
			@media only screen and (min-width: 1700px) {
				display: block;
			}
		}

		.Image2 {
			display: none;
			@media only screen and (min-width: 769px) and (max-width: 1699px) {
				display: block;
			}
		}

		.Image3 {
			display: none;
			@include iftablet {
				display: block;
			}
		}

		.Image4 {
			display: none;
			@include ifmobile {
				display: block;
			}
		}
	}
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
