.Header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: em(249px) 0 em(293px);

	@include iflaptop {
		padding: em(300px) 0 em(394px);
	}
	@include iftablet {
		padding: em(454px) 0 em(438px);
	}
	@include ifmobile {
		padding: em(224px) 0 em(224px);
	}

	&_Image {
		image-rendering: pixelated;
	}

	&_Title {
		max-width: em(1568px);
		@include iflaptop {
			max-width: em(740px);
		}
		@include iftablet {
			max-width: em(677px);
		}
		@include ifmobile {
			max-width: em(320px);
		}
		h1 {
			color: $white;
			font-family: $Grotesk;
			position: relative;
			text-align: center;
			font-size: em(86px);
			font-weight: 800;
			line-height: 100%;
			@include iflaptop {
				font-size: em(48px);
			}
			@include iftablet {
				font-size: em(44px);
			}
			@include ifmobile {
				font-size: em(32px);
			}
		}
	}
}

.About {
	position: relative;
	padding: em(50px) 0 em(30px);
	@include iftablet {
		padding-bottom: em(115px);
	}

	p {
		color: $white;
		font-size: em(24px);
		font-weight: $normal;
		@include iftablet {
			font-size: em(20px);
		}
		@include ifmobile {
			font-size: em(18px);
		}
	}

	h2 {
		color: $white;
		font-size: em(42px);
		font-weight: $medium;
		@include iftablet {
			font-size: em(36px);
		}
		@include ifmobile {
			font-size: em(24px);
		}
	}

	.paragraph1 {
		margin-bottom: em(30px, 24px);
	}
	.paragraph2 {
		margin-bottom: em(40px, 24px);
	}
	.paragraph3 {
		margin-bottom: em(70px, 24px);
		@include iftablet {
			margin-bottom: em(30px, 24px);
		}
		@include ifmobile {
			margin-bottom: em(40px, 24px);
		}
	}

	.title1,
	.title2 {
		margin-bottom: em(30px, 42px);
		@include iftablet {
			margin-bottom: em(16px, 36px);
		}
		@include ifmobile {
			margin-bottom: em(12px, 24px);
		}
	}

	.Icon {
		margin: 0 auto;
		svg {
			width: 100%;
		}

		&_Desktop {
			display: none;
			max-width: em(1348px);
			height: em(256px);
			margin-bottom: em(70px);
			@include ifdesktop {
				display: block;
			}
		}

		&_Other {
			display: block;
			max-width: em(1348px);
			height: em(200px);
			margin-bottom: em(70px);
			@include ifdesktop {
				display: none;
			}
			@include iftablet {
				height: em(142px);
				margin-bottom: em(30px);
			}
			@include ifmobile {
				height: em(70px);
				margin-bottom: em(30px);
			}
		}
	}

	&_Image1,
	&_Image2 {
		width: em(1251px);
		height: em(899px);
		position: absolute;
		right: 0;

		@include iflaptop {
			width: em(1024px);
			height: em(543px);
		}
		@include iftablet {
			width: em(768px);
			height: em(543px);
		}
		@include ifmobile {
			width: em(768px);
			height: em(543px);
		}
	}

	&_Image1 {
		top: em(-277px);
		transform: scale(1, -1);
		@include iflaptop {
			top: em(-242px);
		}
		@include iftablet {
			top: em(-270px);
		}
		@include ifmobile {
			top: em(-280px);
		}
	}

	&_Image2 {
		bottom: em(-360px);
		@include iflaptop {
			bottom: em(-117px);
		}
		@include iftablet {
			bottom: em(0px);
		}
		@include ifmobile {
			bottom: em(-20px);
		}
	}
}
