.BaseAlert {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;

	.Wrapper {
		left: 0px;
		right: 0px;
		display: flex;
		position: absolute;
		transition: all 230ms cubic-bezier(0.21, 1.02, 0.73, 1) 0s;
		transform: translateY(0px);
		bottom: em(44px);
		justify-content: center;
		z-index: 99;
		pointer-events: painted;
	}

	&_Alert {
		width: 100%;
		max-width: em(600px);
		padding: em(10px) em(16px);
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: em(8px);
		background: linear-gradient(180deg, #bed252 0%, #eee797 100%);
		box-shadow: 0px 6px 10px 0px rgba(190, 210, 82, 0.5);

		animation: 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) 0s 1 normal forwards
			running fadeIn;

		@include ifmobile {
			left: calc(50vw - em(171px));
			max-width: em(342px);
			padding: em(10px) em(16px) em(10px) 0;
		}
	}

	&_Icon {
		width: em(50px);
		height: em(50px);
		margin-right: em(6px);
	}

	&_Content {
		display: flex;
		flex-direction: row;
		align-items: center;

		.Text {
			width: max-content;
			max-width: em(440px);
			line-height: 100%;
			@include ifmobile {
				max-width: em(240px);
			}
			span {
				color: #5f41d4;
				font-family: 'DM Sans', sans-serif;
				font-size: em(12px);
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}
	}

	&_Close {
		cursor: pointer;
		width: em(24px);
		height: em(24px);
	}
}

@include keyframe(fadeIn) {
	0% {
		transform: translate3d(0, 200%, 0) scale(0.6);
		opacity: 0.5;
	}
	100% {
		transform: translate3d(0, 0, 0) scale(1);
		opacity: 1;
	}
}
