.Wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.Content {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	position: relative;
}
